@model BooksListViewModel
@{
    ViewData["Title"] = $"{Model.CurrentCategory} | ViVuStore.vn";
}

<h2>@ViewBag.CurrentCategory</h2>

<div class="row">
    @foreach (Book book in Model.Books)
    {
        @await Html.PartialAsync("_BookOverviewSummary", book)
    }
</div>