@model BooksListByAuthorViewModel
@{
    ViewData["Title"] = $"{Model.CurrentAuthor} | ViVuStore.vn";
}

<h2>@ViewBag.CurrentAuthor</h2>

<div class="row">
    @foreach (Book book in Model.Books)
    {
    @await Html.PartialAsync("_BookOverviewSummary", book)
    }
</div>