@model BooksListByPriceViewModel
@{
    ViewData["Title"] = $"{Model.CurrentPrice} | ViVuStore.vn";
}

<h2>@ViewBag.CurrentPrice</h2>

<div class="row">
    @foreach (Book book in Model.Books)
    {
        @await Html.PartialAsync("_BookOverviewSummary", book)
    }
</div>