@model BooksListViewModel
@{
    ViewData["Title"] = "All books";
}

<h2>@ViewBag.CurrentCategory</h2>

<div class="row">
    @foreach (Book book in Model.Books)
    {
        @await Html.PartialAsync("_BookOverviewSummary", book)
    }
</div>

