* {
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}
.header {
    text-align: left;
    background: #189eff;
}

.sidebar {
    width: 253px;
    float: left;
    vertical-align: top;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    height: 100%;
}

/* Style the content */
.product-listing {
    width: 985px;
    float: right;
    vertical-align: top;
    border-radius: 4px;
    overflow: hidden;
}