@model BookEditViewModel

<h2>Thêm tựa sách mới</h2>
<hr />

<form asp-controller="BookManagement" asp-action="AddBook" method="post" class="row form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="col">
        <div class="form-group">
            <label asp-for="Book.Title" class="control-label"></label>
            <div>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Book.Description" class="control-label"></label>
            <div>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Book.ImageThumbnailUrl" class="control-label"></label>
            <div>
                <input asp-for="Book.ImageThumbnailUrl" class="form-control" />
                <span asp-validation-for="Book.ImageThumbnailUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Book.NumberOfPages" class="control-label"></label>
            <div>
                <input asp-for="Book.NumberOfPages" class="form-control" />
                <span asp-validation-for="Book.NumberOfPages" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Book.Price" class="control-label"></label>
            <div>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label asp-for="Book.ReleaseDate" class="control-label"></label>
            <div>
                <input asp-for="Book.ReleaseDate" class="form-control" type="date" />
                <span asp-validation-for="Book.ReleaseDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Book.BookDimensions" class="control-label"></label>
            <div>
                <input asp-for="Book.BookDimensions" class="form-control" />
                <span asp-validation-for="Book.BookDimensions" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Book.Quantity" class="control-label"></label>
            <div>
                <input asp-for="Book.Quantity" class="form-control" />
                <span asp-validation-for="Book.Quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Categories" class="control-label"></label>
            <div>
                <select asp-for="SelectedCategoryId" class="form-control" asp-items="Model.Categories"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Authors" class="control-label"></label>
            <div>
                <select asp-for="SelectedAuthorId" class="form-control" asp-items="Model.Authors"></select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Publishers" class="control-label"></label>
            <div>
                <select asp-for="SelectedPublisherId" class="form-control" asp-items="Model.Publishers"></select>
            </div>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-control form-check-input" asp-for="Book.IsBookOfTheWeek">
            <label class="form-check-label" asp-for="Book.IsBookOfTheWeek"></label>
            <span asp-validation-for="Book.IsBookOfTheWeek" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Thêm" />
            <input asp-controller="BookManagement" asp-action="Index" type="submit" class="btn btn-primary" value="Hủy" />
        </div>
    </div>
</form>