@model Book

<div class="col-md-3">
    <img class="img-fluid img-thumbnail" src="@Model.ImageThumbnailUrl" />
    <p>
        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a>
    </p>
    <p>@Model.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</p>
</div>